<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Hand to Words</title>
    <link rel="stylesheet" href="about_us.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Hand to Words</h1>
        </div>
        <nav>
            <ul>
                <li><a href="homepage.html">home</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="main.html">Hand to Words</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="in.html">symptoms</a></li>
            </ul>
        </nav>
    </header>
    <div class="about-container">
        <h1>About Us</h1>
        <p>This project aims to help mute individuals communicate using hand gestures.</p>
        <p>By translating hand gestures into words, we make it easier for people to interact with others in daily life.
            
        </p>
    </div>
</body>
</html>
